@import "mocha.css";

* {
    font-family: "Noto Color Emoji Regular", "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#waybar {
    background-color: transparent;
    color: @text;
}

.modules-left .module {
    margin: 5px;
    padding: 0 10px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

.modules-center {
    margin: 5px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

.modules-right {
    margin: 5px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

.modules-right .module {
    padding: 10px;
}

#custom-launcher {
    font-size: 18px;
}

#custom-pacman {
    color: @peach;
}

#custom-spotify {
    color: @green;
}
#custom-spotify.paused {
    color: @text;
}

#tray {
    margin: 5px;
    padding: 0 10px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}
#tray menu {
    font-size: 16px;
    background-color: @surface0;
    color: @text;
}

#workspaces {
    transition: none;
}
#workspaces button {
    padding: 0 5px;
    margin: 6px;
}
#workspaces button.active {
    background-color: @lavender;
    color: @crust;
    border-radius: 1rem;
}

#cpu {
    color: @red;
}

#memory {
    color: @peach;
}

#temperature {
    color: @teal;
}

#custom-nvidia {
    color: @green;
}

#network {
    color: @sky;
}

#bluetooth {
    color: @sapphire;
}

#battery {
    color: #97bbf7;
}

#wireplumber {
    color: @blue;
}

#clock {
    color: @text;
}
