@import "mocha.css";

* {
    font-family: "Noto Color Emoji Regular", "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#waybar {
    background-color: transparent;
    color: @text;
}

.modules-left {
    margin: 5px;
    padding: 0 10px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

.modules-center {
    margin: 5px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

.modules-right {
    margin: 5px;
    background-color: @base;
    border-radius: 0.5rem;
    border: 1px solid @surface0;
    transition: none;
}

/** Custom launcher **/

#custom-launcher {
    font-size: 18px;
    transition: none;
}

/** Tray **/

#tray {
    margin-left: 15px;
    transition: none;
}

#tray menu {
    font-size: 16px;
    background-color: @surface0;
    color: @text;
}

/** Workspaces **/

#workspaces {
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    margin: 6px;
}

#workspaces button.active {
    background-color: @lavender;
    color: @crust;
    border-radius: 1rem;
}

/** CPU **/

#cpu {
    color: @red;
    padding: 0 10px;
}

/** Memory **/

#memory {
    color: @peach;
    padding: 0 10px;
}

/** Temperature **/

#temperature {
    color: @teal;
    padding: 0 10px;
}

/** Network **/

#network {
    color: @sky;
    padding: 0 10px;
}

/** Bluetooth **/

#bluetooth {
    color: @sapphire;
    padding: 0 10px;
}

/** Battery **/

#battery {
    color: #97bbf7;
    padding: 0 10px;
}

/** Audio **/

#wireplumber {
    color: @blue;
    padding: 0 10px;
}

/** Clock **/

#clock {
    color: @text;
    padding: 0 10px;
}
