* {
    font-family: "Noto Color Emoji Regular", "JetBrainsMono Nerd Font";
    font-size: 14px;
}

#waybar {
    background-color: transparent;
    color: #EBEEF9;
}

.modules-left {
    margin-top: 5px;
    margin-left: 5px;
    padding: 0 10px;
    background: #0D101B;
    border-radius: 0.5rem;
    transition: none;
}

.modules-center {
    margin-top: 5px;
    background: #0D101B;
    border-radius: 0.5rem;
    transition: none;
}

.modules-right {
    margin-top: 5px;
    margin-right: 5px;
    background: #0D101B;
    border-radius: 0.5rem;
    transition: none;
}

/** Custom launcher **/

#custom-launcher {
    font-size: 18px;
    transition: none;
}

/** Tray **/

#tray {
    margin-left: 15px;
    transition: none;
}

#tray menu {
    font-size: 16px;
    background-color: #0D101B;
    color: #EBEEF9;
}

/** Workspaces **/

#workspaces {
    transition: none;
}

#workspaces button {
    padding: 0 5px;
    margin: 6px;
}

#workspaces button.active {
    background-color: #FFFFFF;
    color: #0D101B;
    border-radius: 1rem;
}

#workspaces button:hover {
    background-color: #C0B7F9;
    color: #FFFFFF;
    border-radius: 1rem;
    transition: none;
}

/** CPU **/

#cpu {
    color: #EE829F;
    padding: 0 10px;
}

/** Memory **/

#memory {
    color: #F99170;
    padding: 0 10px;
}

/** Temperature **/

#temperature {
    color: #A5FFE1;
    padding: 0 10px;
}

/** Network **/

#network {
    color: #8BE9FD;
    padding: 0 10px;
}

/** Bluetooth **/

#bluetooth {
    color: #8BE9FD;
    padding: 0 10px;
}

/** Battery **/

#battery {
    color: #97BBF7;
    padding: 0 10px;
}

/** Audio **/

#wireplumber {
    color: #C0B7F9;
    padding: 0 10px;
}

/** Clock **/

#clock {
    color: #FFFFFF;
    padding: 0 10px;
}
